:root {
    --vermelho: #E50914;
    --preta: #141414;
    --cinza-menu: #AAA;
    --branco-menu: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
body {
   background: var(--preta);
   font-family: 'Times New Roman', Times, serif;
   color: white;
}

header .container {
    border: 1px solid chocolate;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--cinza-menu);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--branco-menu);
}


/* Filme Principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/koi-mil-gaya-movie.jpg');
    background-size:cover;
    height:  400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 50px;
}

.titulo {
    font-size: 40px;
}